{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
    <div class="flex-item">
        <div class="container-body-title">Ku_PROJECT</div>
        <div class="container-body-sub">
            04/22 ~ 8/17<br>Goorm with KakaoEnterprise<br>
        </div>
    </div>
    <div class="flex-item-login">
        <div class="container-body-title">Ku_PROJECT</div>
        <div class="container-body-sub">
            04/22 ~ 8/17<br>Goorm with KakaoEnterprise<br>
        </div>
    </div>
</div>
{% endblock %}
