<head>
    <meta charset="UTF-8">
    <title>Goorm_KU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container clearfix">
        <form method="post">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="logo">
                <a href='/'><img src="{{ url_for('static', filename='image/goorm.png') }}"></a>
            </div>
            <div class="flex-text">
                SignUp To KU
            </div>
            <div class="flex-id">
                <input type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.data or '' }}" placeholder="아이디">
            </div>
            <div class="flex-password">
                <input type="password" class="form-control" name="password1" id="password1"
                    value="{{ form.password1.data or '' }}" placeholder="패스워드">
            </div>
            <div class="flex-password">
                <input type="password" class="form-control" name="password2" id="password2"
                    value="{{ form.password2.data or '' }}" placeholder="패스워드 확인">
            </div>
            <div class="flex-password">
                <input type="text" class="form-control" name="email" id="email" value="{{ form.email.data or '' }}"
                    placeholder="이메일">
            </div>
            <br>
            <div class="flex-register">
                <button type="submit" class="flex-registerbutton">가입하기</button>
            </div>
        </form>
    </div>

</body>

</html>